firebase~=4.0.1
python-firebase~=1.2
opencv-python~=4.8.0.76
numpy~=1.23.5
mediapipe~=0.10.5
imutils~=0.5.4
Pillow~=9.5.0
jupyter~=1.0.0
pip~=23.2.1
attrs~=22.2.0
wheel~=0.40.0
cryptography~=41.0.4
tornado~=6.2
Jinja2~=3.1.2
setuptools~=65.5.0
packaging~=23.0
build~=1.0.3
platformdirs~=3.11.0
pyparsing~=3.0.9